@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");

* {
  box-sizing: border-box;
}

.timerWrap {
  max-width: 50%;
  margin: 25px auto;
}

.time {
  display: block;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-family: "Syne Mono", monospace;
  font-size: 1.5rem;
}

.btnsWrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 80%;
}
.btnsWrap > button {
  margin: 2px 5px;
}
